@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    /* 垂直居中换行 */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    background-color: lightgray;
    font-family: 'Poppins', sans-serif;
}

.btn {
    margin: 1rem;
    padding: 1.5rem 3em;

    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: lightslategray;
    font-size: 1.2rem;
    font-family: inherit;
    text-align: center;
}

.btn:hover {
    opacity: .9;
}

.btn:focus {
    outline: 0;
}